body {
  font-family: Lato, sans-serif;
  color: #2d3c49;
}

.container {
  margin: 15px 10%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px #7d97ad solid;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.profile-right-wrapper {
  text-transform: uppercase;
  text-align: right;
}

.profile-name {
  margin: 10px 0;
  font-size: 2.5em;
  font-weight: 400;
}

.profile-detail {
  margin: 10px 0;
  font-weight: 300;
}

.featured {
  max-width: 100%;
}

.featured-works-title {
  margin: 15px 0;
  font-size: 2em;
  font-weight: 400;
  color: #7d97ad;
}

.featured-works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured-work {
  flex: 0 1 33%;
  margin-bottom: 15px;
  text-align: center;
}

.featured-work-image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.featured-work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-work-image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.8);
}

.featured-work-image-wrapper:hover .featured-work-image-overlay {
  opacity: 1;
}

.featured-work-detail {
  color: #fff;
}

.featured-work-title {
  margin: 10px 0;
  font-weight: 400;
  text-transform: uppercase;
}

.featured-work-link {
  color: #02b3e4;
  text-decoration: none;
}

.featured-work-link:not(:last-child)::after {
  content: ' |';
  color: initial;
}

@media screen and (max-width: 800px) {
  .featured-work {
    flex: 0 1 49%;
  }
}

@media screen and (max-width: 600px) {
  .featured-work {
    flex: 0 1 95%;
  }

  .featured-work-image-wrapper {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 455px) {
  body {
    font-size: 12px;
  }
}